


.wrapper{
    width: 100%;
    height: 100vh;
    background-color: darkslategrey;
}

header, footer{
    height: 80px;
    width: 100%;
    background-color: darkseagreen;
    padding: 10px;
}

main{
    width: 100%;
    height: calc(100% - 160px);
}

.boxstyle{
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}